@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');

body {
  font-family: 'Poppins', sans-serif;

  text-align: center;
  background: rgb(255, 255, 255);
  color: tomato;
  letter-spacing: 1.2px;
}

h1 {
  background: tomato;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 3rem;
}

h4 {
  margin-bottom: 2rem;
}

#github {
  background: rgb(255, 255, 255);
  color: blue;
  padding: 0.2rem;
  border: 1px solid rgb(255, 255, 255);
}
a {
  text-decoration: none;
  background: tomato;
  padding: 0.75rem 1.5rem;
  color: #fff;
  border-radius: 5px;
}

a:hover {
  filter: brightness(110%);
  /* font-weight: bold; */
  cursor: pointer;
  background: #fff;
  color: tomato;
  border: 1px solid tomato;
  transition: all ease-in-out 0.2s;
}

#img1 {
  min-height: 10vh;
  max-height: 100px;
  opacity: 0.4;
  position: relative;
  margin-top: 2rem;
}

#img1:hover {
  cursor: pointer;
  filter: brightness(150%);
}

button,
#submit {
  padding: 0.75rem 1.2rem;
  background: tomato;
  color: #fff;
  margin: 2rem;
  border: none;
  letter-spacing: 1.2px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
}

button:hover,
#submit:hover {
  filter: brightness(110%);
  /* font-weight: bold; */
  cursor: pointer;
  background: #fff;
  color: tomato;
  border: 1px solid tomato;
  transition: all ease-in-out 0.2s;
}

#div1 {
  font-weight: bold;
  background: wheat;
}
#div2 {
  font-style: italic;
}

.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-style: italic; */
}

.list {
  min-width: 300px;
  max-width: 50vw;
  border-radius: 10px;
  padding: 0;
  list-style: none;
  background: tomato;
  color: #fff;
  margin-bottom: 1rem;
}

.list li {
  margin: 0.5rem;
  border: 1px solid tomato;
  border-radius: 5px;
}

.list li:hover {
  cursor: pointer;
}

.best {
  /* font-size: larger; */
  font-variant: small-caps;
  color: black;
  background: aqua;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#result2 {
  font-size: 0.5rem;
  color: black;
  margin: 3rem;
}

#title {
  height: 1.5rem;
  width: 300px;
  margin-bottom: 1.7rem;
}

#title,
#body {
  background: #fff;
  color: tomato;
  border-radius: 5px;
  border: 2px solid tomato;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

#title::placeholder,
#body::placeholder {
  color: tomato;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}
